
_build/xbox/gen/patch_xbox.hdr
_build/xbox/gen/patch_xbox_0.ark
_build/ps3/USRDIR/gen/patch_ps3_0.ark
_build/ps3/USRDIR/gen/patch_ps3.hdr
_build_rpcs3.bat
_xenia/gen/*.ark
_xenia/gen/*.hdr
_xenia/videos/*.bik
_build_rpcs3.bat
_build/wii/
_xenia/cache/*
_xenia/content/45410829/Headers/*
_xenia/xenia.log
_xenia/content/45410829/00000001/RB1DISCCUSTOMPACKWITHUNEXPORTABLES
_xenia/content/45410829/00000002/*
_xenia/content/45410829/00000001/*
_xenia/content/45410869
_xenia/content/45410829
