.DS_Store
*.pyc

main_xbox
patch_xbox
project_files
ta_pkg_repacker_tools
magick
_xenia
_build/xbox/videos/*.bik
_tmpbuild
_ps2_files
_build/ps2/gen/*
_ark_ps2/songs
_ark_wii/songs
!_ark_ps2/songs/afterlife
_build/wii

main_xbox_9.ark
main_xbox_8.ark
main_xbox_7.ark
main_xbox_6.ark
main_xbox_5.ark
main_xbox_4.ark
main_xbox_3.ark
main_xbox_2.ark
main_xbox_1.ark
main_xbox_0.ark
main_xbox.hdr
patch_xbox_0.ark
patch_xbox.hdr

main_ps3_2.ark
main_ps3_1.ark
main_ps3_0.ark
patch_ps3.hdr
patch_ps3_0.ark

dx-settings-loader
dx-settings-loader.xex
dxsl_xbox.hdr
dxsl_xbox_0.ark

dependencies/Mackiloha-master.zip
dependencies/linux/arkhelper
dependencies/linux/dtab
dependencies/linux/superfreq
dependencies/macOS/arkhelper
dependencies/macOS/dtab
dependencies/macOS/superfreq
dependencies/windows/arkhelper.exe
dependencies/windows/dtab.exe
dependencies/windows/superfreq.exe
user_scripts/rpcs3_directory.txt
