name: CI

on: [push, pull_request]

jobs:
  build_xbox:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Download Mackiloha
        run: |
          pip install requests
          python dependencies/dev_scripts/download_mackiloha.py
      - name: Set env
        run: |
          echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_ENV
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/superfreq
          pip install gitpython
          pip install mido
      - name: Remove PS3/PS2 files
        run: |
          find . -name "*.*_ps3" -type f -delete
          find . -name "*.*_ps2" -type f -delete
      - name: Build ARK
        run: |
          dependencies/linux/arkhelper dir2ark ./_ark ./_build/xbox/gen -n "patch_xbox" -e -v 5
      - name: Remove Excess files
        run: |
          find . -name "*.txt" -type f -delete
          find . -name "*.zbm" -type f -delete
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB2DX-Xbox
          path: _build/xbox

  build_ps3:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Download Mackiloha
        run: |
          pip install requests
          python dependencies/dev_scripts/download_mackiloha.py
      - name: Set env
        run: |
          pip install gitpython
          pip install mido
          pip install requests
      - name: fetch TrueAncestor PKG Repacker
        run: |
          python dependencies/dev_scripts/download_ta_pkg_repacker.py
      - name: Remove Xbox/PS2 files
        run: |
          Get-ChildItem _ark/ -recurse -include *.*_xbox | remove-item
          Get-ChildItem _ark/ -recurse -include *.*_ps2 | remove-item
      - name: Build ARK
        run: |
          dependencies/windows/arkhelper.exe dir2ark _ark _build/ps3/USRDIR/gen -n "patch_ps3" -e -v 5
      - name: Build PKG
        run: |
          $sha_short="$(git rev-parse --short HEAD)".ToUpper()
          $content="UP0006-BLUS30147_00-RB2DXNITE"
          $packageversion="2.00"
          dependencies/ta_pkg_repacker_tools/make_package_npdrm_retail.exe --k-licensee 0x00000000000000000000000000000000 --drm-type Local --package-version $packageversion --content-type GameData --content-id ($content + $sha_short) dependencies/ta_pkg_repacker_tools/package.conf _build/ps3

      - name: Upload result
        uses: actions/upload-artifact@v3
        with:
          name: RB2DX-PS3
          path: '*.pkg'

  build_ps2_ce:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          lfs: 'true'
      - name: checkoutLFS
        uses: actions/checkout@v3
      - run: git lfs pull
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Download Mackiloha
        run: |
          pip install requests
          python dependencies/dev_scripts/download_mackiloha.py
      - name: Set env
        run: |
          echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_ENV
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/superfreq
          pip install gitpython
          pip install mido
      - name: Remove PS3/Xbox files
        run: |
          find . -name "*.*_ps3" -type f -delete
          find . -name "*.*_xbox" -type f -delete
      - name: Download PS2 files
        run: |
          python dependencies/dev_scripts/download_ps2_action.py
      - name: Add PS2 files to _ark
        run: |
          rsync -a ./_ps2_files/* ./_ark
          rsync -a ./_ark_ps2/* ./_ark
          rm -rf ./_ark/.git
          rm -rf ./_ark/README.md
      - name: Build ARK
        run: |
          dependencies/linux/arkhelper dir2ark ./_ark ./_build/ps2/gen -n "MAIN" -e -v 4 -s 4073741823
      - name: Remove Excess files
        run: |
          find . -name "*.txt" -type f -delete
          find . -name "*.zbm" -type f -delete
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB2DXCE-PS2
          path: _build/ps2

  build_ps2:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Download Mackiloha
        run: |
          pip install requests
          python dependencies/dev_scripts/download_mackiloha.py
      - name: Set env
        run: |
          echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_ENV
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/superfreq
          pip install gitpython
          pip install mido
      - name: Remove PS3/Xbox files
        run: |
          find . -name "*.*_ps3" -type f -delete
          find . -name "*.*_xbox" -type f -delete
      - name: Download PS2 files
        run: |
          python dependencies/dev_scripts/download_ps2_action.py
      - name: Add PS2 files to _ark
        run: |
          rsync -a ./_ps2_files/* ./_ark
          rsync -a ./_ark_ps2/* ./_ark
          rm -rf ./_ark/.git
          rm -rf ./_ark/README.md
          rm -rf ./_ark/songs/afterlife
          rm -rf ./_ark/songs/getclean
          rm -rf ./_ark/songs/kidsinamerica
          rm -rf ./_ark/songs/mountainsong
          rm -rf ./_ark/songs/shacklersrevenge
      - name: Download/Copy RB2 Songs
        run: |
          chmod +x dependencies/linux/gdrive
          dependencies/linux/gdrive account import dependencies/linux/gdrive_key.tar
          dependencies/linux/gdrive files download 1gTMkLScBkENtSk2EHDweMmlfMi9XMUGK --recursive --destination ./
          mv ./rb2dxsongs/* ./_ark/songs -f
      - name: Build ARK
        run: |
          dependencies/linux/arkhelper dir2ark ./_ark ./_build/ps2/gen -n "MAIN" -e -v 4 -s 4073741823
      - name: Remove Excess files
        run: |
          find . -name "*.txt" -type f -delete
          find . -name "*.zbm" -type f -delete
          rm -rf ./_ark
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB2DX-PS2
          path: _build/ps2

  build_wii_riivolution:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Download Mackiloha
        run: |
          pip install requests
          python dependencies/dev_scripts/download_mackiloha.py
      - name: Set env
        run: |
          echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_ENV
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/superfreq
          pip install gitpython
          pip install mido
          mkdir -p _build/wii_riivolution/rb2dx
          cp _build/wii_rebuild_files/main_wii.hdr _build/wii_riivolution/rb2dx/main_wii.hdr
          truncate -s 1985872287 _build/wii_riivolution/rb2dx/main_wii_0.ark
          truncate -s 1178526447 _build/wii_riivolution/rb2dx/main_wii_1.ark
      - name: Remove PS3/PS2/Xbox files
        run: |
          find . -name "*.*_ps3" -type f -delete
          find . -name "*.*_ps2" -type f -delete
          find . -name "*.*_xbox" -type f -delete
      - name: Add Wii files to _ark
        run: |
          rsync -a ./_ark_wii/* ./_ark
          rsync -a ./_wii_possibly_merge/* ./_ark
          rsync -a ./_wii_files/* ./_ark
      - name: Build ARK
        run: |
          dependencies/linux/arkhelper patchcreator -a ./_ark -o ./_build/wii_riivolution/rb2dx _build/wii_riivolution/rb2dx/main_wii.hdr
          mv -f _build/wii_riivolution/rb2dx/gen/main_wii.hdr _build/wii_riivolution/rb2dx/main_wii.hdr
          mv -f _build/wii_riivolution/rb2dx/gen/main_wii_2.ark _build/wii_riivolution/rb2dx/main_wii_2.ark
          rmdir _build/wii_riivolution/rb2dx/gen
          del _build/wii_riivolution/rb2dx/main_wii_0.ark
          del _build/wii_riivolution/rb2dx/main_wii_1.ark
      - name: Remove Excess files
        run: |
          find . -name "*.txt" -type f -delete
          find . -name "*.zbm" -type f -delete
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB2DX-Wii-Riivolution
          path: _build/wii_riivolution
